<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @favourite.ad.title %>
</p>

<p>
  <b>Content:</b>
  <%= @favourite.ad.content %>
</p>

<%= link_to 'Back to favourites', favourites_path %>

